<ion-view class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-show="data.index == 0" ng-click="createDefaultWallet()">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <div class="onboarding-topic" translate>Mobicoin is a,<br/>digital currency</div>
        <div class="onboarding-description" translate>Mature block chaining technology and encryption technology</div>
        <div class="onboarding-illustration-secure"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>It's a safe and reliable digital asset</div>
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            Got it
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <div class="onboarding-topic" translate>Mobicoin is a currency</div>
        <div class="onboarding-description" translate>Provide comprehensive support for TCC's financial services</div>
        <div class="onboarding-illustration-currency">
          <!--<div id="onboarding-illustration-currency-exchange-rate">1 BTC = {{localCurrencySymbol}}{{localCurrencyPerBtc}}</div>-->
        </div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Cross-border risk-free arbitrage</div>
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            Makes sense
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <div class="onboarding-topic" translate>Now you can participate in the EBOCoin coins raised</div>
        <div class="onboarding-description" translate>Access www.t|wcoin.com for more details</div>
        <div class="onboarding-illustration-control"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>You can start creating your TCC Wallet</div>
          <button class="button button-standard button-primary" ng-click="createDefaultWallet()" translate>
            Create Mobicoin wallet
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
