<ion-view id="choosePurse" hide-tabs>
  <ion-content class="bg">
             <div ng-disabled="wallet" class="slide-success__content">
              <img src="img/onboarding-success.svg" ng-class="{reveal: fillScreen}">
         <!-- <div class="slide-success__content__header" ng-class="{reveal: fillScreen}"> -->
          <div class="success">已成功申请ICO</div>
          </div>
      </div>
  </ion-content>
<ion-footer-bar align-title="left" class="bar-calm">
  <div class="title">OK</div>
</ion-footer-bar>
</ion-view>