<ion-view id="icoreceive" show-tabs>
  <ion-nav-bar class="bar-royal" >

      <ion-nav-back-button class="button-clear"
                           ng-click="goRoot()">

      </ion-nav-back-button>

    <ion-nav-title>"ICO "</ion-nav-title>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="true">


    <article class="ICOaddress">

      <div copy-to-clipboard="clipboard">
      <div class="ICOaddress-title">
        <span translate>请向以下地址汇入款项已完成ICO</span>
      </div>
      <div class="ICOaddress-info">
        <qrcode ng-if="icoAddr"  size="220" data="{{icoAddr}}" color="#334"></qrcode>
        <div class="ICOaddress-label">
          <span translate>完成交易后可向客服咨询确认,客服微信：2333333</span>
        </div>
      </div>
      </div>
         <button class="button button-block button-positive" copy-to-clipboard="clipboardTwo">点击复制</button>
      <div class="settings-list">
        <div class="item has-setting-value">
          <span class="setting-title">比特币接收地址</span>
          <span  class="setting-value" copy-to-clipboard="clipboard">{{icoAddr}}</span>
        </div>
        <div class="item has-setting-value">
          <span class="setting-title">Tcash本地钱包地址</span>
          <span class="setting-value" copy-to-clipboard="clipboardOne">{{tcashAddr}}</span>
        </div>
      </div>
    </article>
  </ion-content>

</ion-view>



