<ion-view id="receivingPurse" show-tabs>
  <ion-nav-bar class="bar-royal">
<!--     <ion-nav-title><img class="tab-home__logo" src="img/app/logo-negative.png"></ion-nav-title> -->
            <ion-nav-title>Tcash</ion-nav-title>
        <ion-nav-back-button>
        </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher
     ng-if="isAndroid"
     pulling-icon="ion-ios-refresh"
     spinner="ios-small"
     on-refresh="onRefresh()">
   </ion-refresher>

    <div class="list">
      <div class="item item-icon-right item-heading">
        <div class="jiucheng">选择您想要用来接收TCC的钱包</div>
      </div>
      <div>
        <a ng-if="!wallets[0]" ui-sref="tabs.add" class="item item-icon-left item-big-icon-left item-icon-right next-step">
         <i class="icon big-icon-svg">
           <img src="img/icon-wallet.svg" class="bg wallet icon-create-wallet"/>
         </i>
          <span translate>Create Mobicoin wallet</span>
        </a>
        <a ng-repeat="wallet in wallets track by $index"
           class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet"
           ng-click="choosePurse(wallet)">
          <i class="icon big-icon-svg">
            <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"/>
          </i>
          <span>
            {{wallet.name || wallet.id}}
          </span>
          <p>
          <span ng-if="!wallet.isComplete()" class="assertive" translate>
            Incomplete
          </span>
          <span ng-if="wallet.isComplete()">
            <span ng-if="!wallet.balanceHidden"> {{wallet.status.totalBalanceStr ? wallet.status.totalBalanceStr : ( wallet.cachedBalance ? wallet.cachedBalance   + (wallet.cachedBalanceUpdatedOn ? ' &middot; ' + ( wallet.cachedBalanceUpdatedOn  * 1000 | amTimeAgo) : '') : ''  ) }} </span>

            <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
            <span class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1">
              {{wallet.m}}-of-{{wallet.n}}
            </span>
            <i ng-if="!wallet.balanceHidden && (wallet.status.totalBalanceSat != wallet.status.spendableAmount)" class="tab-home__wallet__status-icon ion-ios-timer-outline"></i>
            <span class="assertive" ng-if="wallet.error">{{wallet.error}}</span>
          </span>
          &nbsp;
          </p>


          <i class="icon bp-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="ng-hide list card" ng-show="wallets[0] && bitpayCardItems.length>0" ng-include="'views/includes/bitpayCardsCard.html'"></div>
    <div class="ng-hide list card" ng-show="wallets[0] && buyAndSellItems.length>0" ng-include="'views/includes/buyAndSellCard.html'"></div>
    <div class="ng-hide list card" ng-show="homeIntegrations.length>0" ng-include="'views/includes/homeIntegrations.html'"></div>
    <!-- <div class="ng-hide list card" ng-show="nextStepsItems.length>0 && !isWindowsPhoneApp" ng-include="'views/includes/nextSteps.html'"></div> -->
    <!-- MBC Jonathan  hide the next steps page -->
  </ion-content>
</ion-view>
