#choosePurse {
	.bg {
		background-color: green;
		text-align: center;
		padding-top: 20px;
		/*height: 500px;*/

	}

	.success{
		margin-top: 20px;
		font-size: 200%;
	}
	.title{
		text-align: center;;
	}

}